@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    @apply bg-brand-light text-brand-text transition-colors duration-700;
  }
}

.gradient-text-hero {
  background: linear-gradient(135deg, #7C3AED 0%, #F97316 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}